
.section-three-image-one{
margin-top: 50px;      
    display: flex;
    justify-content: space-between;
}

.section-three-image-two{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.section-three-image-three{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    }

.section-four-text{

    text-align: center;
    padding: 0 330px;
}
.section-four-container{
    margin-top: 50px;
}
.two-container{
    display: flex;
    justify-content: space-between;
}
.section-four-container-one{
    background-color:linear-gradient(0deg, rgba(251, 181, 99, 0.2), rgba(251, 181, 99, 0.2)),
    linear-gradient(0deg, rgba(251, 181, 99, 0.05), rgba(251, 181, 99, 0.05));;
    border:1px solid #FBB56333;
    width: 600px;
    height: 360px;
    border-radius: 20px;   
    line-height: 2;
    padding:80px;
    
}

.section-four-container-two{
    background-color:linear-gradient(0deg, rgba(41, 206, 246, 0.2), rgba(41, 206, 246, 0.2)),
    linear-gradient(0deg, rgba(41, 206, 246, 0.05), rgba(41, 206, 246, 0.05));;
    border:1px solid #29CEF633;
    width: 600px;
    height: 360px;   
    border-radius: 20px;
    line-height: 2;
    padding:80px;
}

.section-four-container-three {
    background-color: linear-gradient(0deg, rgba(251, 181, 99, 0.2), rgba(251, 181, 99, 0.2)),
                      linear-gradient(0deg, rgba(251, 181, 99, 0.05), rgba(251, 181, 99, 0.05));
    border: 1px solid #FBB56333;
    width: 600px;
    height: 360px;
    border-radius: 20px;
    margin: 0 auto; 
    margin-top: 30px;
    line-height: 2;
    padding:80px;
}

.section-five-text{
    text-align: center;
    padding: 50px 400px;
}
.section-five-one{
background: url(./B9A2-Hero-Travel-main/Images/Group\ 39.png);
height: 500px;
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:left;
    align-items: center;
    border-radius: 20px;
    margin-top: 30px;
    padding: 50px;
}
.section-five-two{
    background: url(./B9A2-Hero-Travel-main/Images/Group\ 40.png);
    height: 500px;
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content:right;
        align-items: center;
        border-radius: 20px;
        margin-top: 30px;
        padding: 50px;
    }
    .section-five-three{
        background: url(./B9A2-Hero-Travel-main/Images/Group\ 39.png);
        height: 500px;
        background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: left;
            align-items: center;
            border-radius: 20px;
            margin-top: 30px;
            padding: 50px;
        }

        .section-five-one-container {
            width: 579px;
            height: 389px;
            border-radius: 16px;
            border: 2px solid #FFFFFF;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
            line-height: 2;
            padding: 50px 30px 30px 30px;
        }
        .section-five-one-container-logos{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }


.section-five-button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 4px 5px;
    background-color: orangered;
    color: aliceblue;
    font-size: 20px;
    margin-top: 50px;
}

.section-six{
    display: flex;
    gap: 120px;
}
.section-six-text{
    font-size: 18px;
    line-height: 2;
    padding-right: 10px;
}
.section-six-text h1{
    font-size: 45px;
    line-height: 1.5;

}
.section-six-image{
    width: 100%;
    height: auto;
    
}
.section-seven{
    display: flex;
    gap: 80px;
}
.section-seven-container{
    width: 474px;
   height: 422px;
   border: 2px solid #FF5400;
   border-radius: 20px;
   padding:50px ;
   line-height: 1.5;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.section-seven-right{
    background: url(./B9A2-Hero-Travel-main/Images/Rectangle\ 8\ \(1\).png);
    width: 672px;
height: 422px;
border-radius: 16px;
display: flex;
padding: 60px 20px;
align-items:end;
justify-content:end;

}

.section-seven-one-right-container{
    width: 324px;
height: 120px;
border-radius: 16px;
background-color: #FF5400;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
rotate: -19.63deg;
color: aliceblue;


}



#section-seven-input{
    width: 393px;
height: 52px;
border-radius: 8px;
background-color:#1313180D;
border: none;
padding: 20px   ;
}
.btn{
    width: 393px;
height: 52px;
border-radius: 8px;
background-color: #FF5400;
border: none;
color: #FFFFFF;
font-size: 16px;

}

footer{
    background: #1313180D;
width: 1440px;
height: 502px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 80px;

}
.footer-up{
    display: flex;
    flex-direction: column;
    gap:60px;
    align-items: center;
    justify-content: center;

}
hr{
    width: 872px;
background-color: #1313181A;
border: 1px solid #1313181A;


}




@media only screen and (min-width: 992px) {


    .container {
        padding: 30px 60px;
    }


    .shades {
        height: 90%;
        width: 60%;
        font-size: 30px;
        gap: 25px;
    }


    .box-container {
        background-color: #FFFFFF4D;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        border-radius: 10px;
        padding: 15px 10px;
        gap: 15px;
    
    }


    .dropdown {
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 10px;
        padding: 4px 5px;
        color: #13131880;
    
    }
    
    .section-one-button {
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 10px;
        padding: 4px 5px;
        background-color: orangered;
        color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        color: aliceblue;
        
    }
}








@media only screen and (max-width:600px) {
    *{
        overflow-x: hidden;
    }
    .container {
        padding: 5px 20px;
    }

    .navbar-photo {
        gap: 10px;

    }

    .navbar-photo h1 {
        font-size: 30px;
    }

    .navbar-menu ul {
        display: none;
    }


    .section-one {
        height: 550px;
        
    }

    .shades {
        width: 90%;
        font-size: 20px;
        gap: 5px;
    }


    .box-container {
        width: 98%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .dropdown {
        width: 260px;
        height: 50px;
        border: none;
        border-radius: 10px;
        padding: 4px 5px;
        color: #13131880;
    
    }

    .section-one-button {
        width: 260px;

        
    }


    .section-two{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 70px;
    }
    
    .section-two-text{
      line-height: 2;
    }
    .section-two-button{
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 10px;
        padding: 4px 5px;
        background-color: orangered;
        color: aliceblue;
        margin-top: 50px;
    }
    .section-two-image img{
        width: 100%;
    }

    .section-two-image{
        width: 100%;
    }


    .section-three-text{
        padding: 0 4px;
    }
    .section-three-image-one{
    margin-top: 15px;
        flex-direction: column;
        gap: 15px;
    }
    
    .section-three-image-two{
        margin-top: 15px;
        flex-direction: column;
        gap: 15px;
    }
    .section-three-image-three{
        margin-top: 15px;
        gap: 15px;
        flex-direction: column;
    }
    .section-three-image img{
        height: 200px;
        width: 100%;

    }

    .section-four{
        margin-top: 20px;
    }
    .section-four-text{

        text-align: center;
        padding: 0 30px;
    }
    .section-four-container{
        margin-top: 10px;
    }
    .two-container{
        flex-direction: column;
        gap: 30px;
    }
    .section-four-container-one{
        background-color:linear-gradient(0deg, rgba(251, 181, 99, 0.2), rgba(251, 181, 99, 0.2)),
        linear-gradient(0deg, rgba(251, 181, 99, 0.05), rgba(251, 181, 99, 0.05));;
        border:1px solid #FBB56333;
        width: 100%;
        height: 400px;
        border-radius: 20px;   
        line-height: 1.5;
        padding:30px;
        font-size: 15px;
        
    }
    
    .section-four-container-two{
        background-color:linear-gradient(0deg, rgba(41, 206, 246, 0.2), rgba(41, 206, 246, 0.2)),
        linear-gradient(0deg, rgba(41, 206, 246, 0.05), rgba(41, 206, 246, 0.05));;
        border:1px solid #29CEF633;
        width: 100%;
        height: 400px;
        border-radius: 20px;   
        line-height: 1.5;
        padding:30px;
        font-size: 15px;
    }
    
    .section-four-container-three {
        background-color: linear-gradient(0deg, rgba(251, 181, 99, 0.2), rgba(251, 181, 99, 0.2)),
                          linear-gradient(0deg, rgba(251, 181, 99, 0.05), rgba(251, 181, 99, 0.05));
        border: 1px solid #FBB56333;
        width: 100%;
        height: 400px;
        border-radius: 20px;   
        line-height: 1.5;
        padding:20px;
        font-size: 15px;
    }


    .section-five-text{
        text-align: center;
        padding: 10px 20px;
    }
    .section-five-one{
        background: url(./B9A2-Hero-Travel-main/Images/Group\ 39.png);
        justify-content:center;
        align-items: center;
        margin-top: 30px;
        padding: 5px;
    }
    .section-five-two{
        background: url(./B9A2-Hero-Travel-main/Images/Group\ 40.png);
        justify-content:center;
        align-items: center;
        margin-top: 30px;
        padding: 5px;
        }
        .section-five-three{
            background: url(./B9A2-Hero-Travel-main/Images/Group\ 39.png);  
            justify-content:center;
            align-items: center;
            margin-top: 30px;
            padding: 5px;
            }
    
            .section-five-one-container {
                width:303px;
                height: 407px;
                border-radius: 16px;
                border: 1px solid #FFFFFF;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
                line-height: 2;
                padding: 10px 7px 10px 8px;
            }
            .section-five-one-container-logos{
                display: grid;
                grid-template-columns: 1fr 1fr ;
                grid-template-rows: 1fr 1fr;
                row-gap: 20px;
                column-gap: 20px;
            }
    
    
    .section-five-button{
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 10px;
        padding: 2px 3px;
        background-color: orangered;
        color: aliceblue;
        font-size: 20px;
        margin-top: 5px;
    }

    .section-six{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .section-six-text{
        font-size: 16px;
        line-height: 2;
        padding-right: 10px;
    }
    
    .section-six-image img{
        width: 100%;
        height: auto;
    }
    .section-six-image{
        width: 100%;
    }
    



    .section-seven{
    display: flex;
    gap: 80px;
    flex-direction: column;
}
.section-seven-container{
    width: 335px;
height: 353px;
padding: 30px 30px 30px 30px;
line-height: 1.2;
gap: 10px;
}
.www{
    width: 288px;
border: 1px solid gray;

}

.section-seven-right{
    background: url(./B9A2-Hero-Travel-main/Images/Rectangle\ 8\ \(1\).png);
    width: 100%;
}

.section-seven-one-right-container{
   width: 214.02px;
height: 79.27px;
font-size: 12px;
}



#section-seven-input{
    width: 288px;
height: 52px;
}
.btn{
    width: 288px;
height: 52px;

}

footer{
    background: #1313180D;
    width: 385px;
height: 309px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 15px;
font-size: 12px;
padding-left: 20px;

}
.footer-up{
    display: flex;
    flex-direction: column;
    gap:6px;
    align-items: center;
    justify-content: center;

}
hr{
    width: 872px;
background-color: #1313181A;
border: 1px solid #1313181A;


}
}