*{
margin: 0;
padding: 0;
box-sizing: border-box;
overflow-x: hidden;
}
body{
    height: 100%;
    width: 100%;
}
.section-one {
    
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./B9A2-Hero-Travel-main/Images/Group\ 13\ \(1\)\ \(1\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.section-five-three{
    background: url(./B9A2-Hero-Travel-main/Images/Group\ 39.png);
    height: 500px;
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.section-five-one{
    background: url(./B9A2-Hero-Travel-main/Images/Group\ 39.png);
    height: 500px;
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}


.section-five-two{
    background: url(./B9A2-Hero-Travel-main/Images/Group\ 40.png);
    height: 500px;
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.section-seven-right{
    background: url(./B9A2-Hero-Travel-main/Images/Rectangle\ 8\ \(1\).png);
    width: 672px;
height: 422px;
}
