
.footer-up{
    display: flex;
    flex-direction: column;
    gap:60px;
    align-items: center;
    justify-content: center;

}
hr{
    width: 872px;
background-color: #1313181A;
border: 1px solid #1313181A;


}






@media only screen and (max-width:600px) {


    .section-seven{
    display: flex;
    gap: 80px;
    flex-direction: column;
}
.section-seven-container{
    width: 335px;
height: 353px;
padding: 30px 30px 30px 30px;
line-height: 1.2;
gap: 10px;
}
.www{
    width: 288px;
border: 1px solid gray;

}

.section-seven-right{
    background: url(./B9A2-Hero-Travel-main/Images/Rectangle\ 8\ \(1\).png);
    width: 100%;
}

.section-seven-one-right-container{
   width: 214.02px;
height: 79.27px;
font-size: 12px;
}



#section-seven-input{
    width: 288px;
height: 52px;
}
.btn{
    width: 288px;
height: 52px;

}

footer{
    background: #1313180D;
    width: 385px;
height: 309px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 15px;
font-size: 12px;
padding-left: 20px;

}
.footer-up{
    display: flex;
    flex-direction: column;
    gap:6px;
    align-items: center;
    justify-content: center;

}
hr{
    width: 872px;
background-color: #1313181A;
border: 1px solid #1313181A;


}
}